@import "tailwindcss";

@theme {
  --color-dark: #0a0a0a;
  --color-accent: #a855f7;
  --color-card: #161616;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-dark);
  color: white;
  margin: 0;
  font-family: sans-serif;
}